# Ensuring consistency
engine-strict=true

# For Angular projects with newer npm versions
legacy-peer-deps=true

# Improve reliability and reproducibility
save-exact=true

# Reduce noise in terminal output
loglevel=warn
fund=false
audit=false

# Speed up builds and installations
prefer-offline=true
